* {
  color: white;
  font-family: sans-serif;
}

body {
  background: rgb(20,20,20);
}

#canvas {
  width: 80vw;
  height: 50vw;
  border: solid 0.4vw rgb(120,120,120);
}

p {
  display: inline;
  font-size: 3vw;
}

input {
  width: 60vw;
  background: rgb(40,40,40);
  font-size: 2.5vw;
}

h3 {
  margin: 30px 0 10px 0;
  padding: 0;
  font-size: 5vw;
}

#list {
  margin-bottom: 30px;
  font-family: monospace;
  font-size: 2vw;
}

button {
  background: rgb(40,40,40);
  border-radius: 1vw;
  font-size: 2vw;
  border: none;
  padding: 0 1vw;
  margin-right: 2vw;
}

#dot {
  transform: translate(0, 0.3vw);
  width: 3vw;
  height: 3vw;
}